<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.iessochoa.neighborconect">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NeighborConect">
        <activity
            android:name=".IntroducirCodigo"
            android:exported="true" />
        <activity
            android:name=".CrearComunidad"
            android:exported="true" />
        <activity
            android:name=".PantallaPrincipalActivity"
            android:exported="true"
            android:label="@string/title_activity_pantalla_principal"
            android:theme="@style/Theme.NeighborConect.NoActionBar" />
        <activity
            android:name=".InicioSesionActivity"
            android:exported="true" />
        <activity
            android:name=".RegistrarseActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>